##### Raniery Mendes
###### Linkedin Learning Course

In [2]:
import pandas as pd
import sqlalchemy as db

/var/folders/kn/3tfgbnx95djg4_q9hfbgpl240000gn/T/ipykernel_54358/2496371653.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
data_path ="./data/h+_sport.xlsx"
customers = pd.read_excel(data_path, sheet_name="data")

In [ ]:
customers.columns

##### Cleaning

In [ ]:
customers.drop_duplicates()
customers = customers.drop(columns=["Zipcode"])

In [ ]:
customers.head()

In [ ]:
customers.info()

In [ ]:
engine_conn = db.create_engine('postgresql://postgres:3EgyY8eE8s7xNexG@fancifully-optimum-sleeper.data-1.use1.tembo.io:5432/postgres', echo=True)

In [ ]:
customers.to_sql("customers", con=engine_conn, if_exists='replace', index=False)

In [ ]:
customers.shape[0]

In [19]:
employees_data_path="./data/h+_sport_employees.xlsx"
employees = pd.read_excel(employees_data_path, "Employees-Table")

In [20]:
employees.columns

Index(['Employee Name', 'Building', 'Department', 'Status', 'Hire Date',
       'Month', 'Years', 'Benefits', 'Salary', 'Job Rating', 'New Salary',
       'Tax Rate', '2.91%'],
      dtype='object')

In [21]:
employees = employees.drop(columns=['Job Rating', 'New Salary', 'Tax Rate', '2.91%'])

In [22]:
employees = employees.drop_duplicates()
employees.dropna(inplace=True)

In [25]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
Index: 494 entries, 0 to 739
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Employee Name  494 non-null    object
 1   Building       494 non-null    object
 2   Department     494 non-null    object
 3   Status         494 non-null    object
 4   Hire Date      494 non-null    datetime64[ns]
 5   Month          494 non-null    object
 6   Years          494 non-null    int64
 7   Benefits       494 non-null    object
 8   Salary         494 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 38.6+ KB

In [26]:
employees.to_sql("employees", con=engine_conn, index=False, if_exists='replace')

2024-07-28 20:01:25,642 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-28 20:01:25,675 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-07-28 20:01:25,677 INFO sqlalchemy.engine.Engine [cached since 2922s ago] {'table_name': 'employees', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-07-28 20:01:25,842 INFO sqlalchemy.engine.Engine
CREATE TABLE employees (
	"Employee Name" TEXT,
	"Building" TEXT,
	"Department" TEXT,
	"Status" TEXT,
	"Hire Date" TIMESTAMP WITHOUT TIME ZONE,
	"Month" TEXT,
	"Years" BIGINT,
	"Benefits" TEXT,
	"Salary" BIGINT
)


2024-07-28 20:01:25,843 INFO sqlalchemy.engine.Engine [no key 0.00062s] {}
2024-07-28 20:01:25,910 INFO sqlalchemy.engine.Engine INSERT INTO employees ("Employee Name", "Building", "Department", "Status", "Hire Date", "Month", "Years", "Benefits", "Salary") VALUES (%(Employee_Name__0)s, %(Building__0)s, %(Department__0)s, %(Status__0)s, %(Hire_Date__0)s, %(Month__0)s, %(Years_ ... 83268 characters truncated ... atus__493)s, %(Hire_Date__493)s, %(Month__493)s, %(Years__493)s, %(Benefits__493)s, %(Salary__493)s)
2024-07-28 20:01:25,910 INFO sqlalchemy.engine.Engine [generated in 0.00445s (insertmanyvalues) 1/1 (unordered)] {'Benefits__0': 'DMR', 'Hire_Date__0': datetime.datetime(1999, 1, 11, 0, 0), 'Years__0': 25, 'Department__0': 'ADC', 'Building__0': 'West', 'Status__0': 'Full Time', 'Employee_Name__0': 'Page, Lisa', 'Month__0': 'Jan', 'Salary__0': 24550, 'Benefits__1': 'DM', 'Hire_Date__1': datetime.datetime(2011, 2, 21, 0, 0), 'Years__1': 12, 'Department__1': 'ADC', 'Building__1': 'West', 'Status__1': 'Half-Time', 'Employee_Name__1': 'Taylor, Hector', 'Month__1': 'Feb', 'Salary__1': 26795, 'Benefits__2': 'M', 'Hire_Date__2': datetime.datetime(2007, 12, 31, 0, 0), 'Years__2': 16, 'Department__2': 'ADC', 'Building__2': 'Watson', 'Status__2': 'Full Time', 'Employee_Name__2': 'Weber, Larry', 'Month__2': 'Dec', 'Salary__2': 72830, 'Benefits__3': 'DMR', 'Hire_Date__3': datetime.datetime(2006, 2, 3, 0, 0), 'Years__3': 17, 'Department__3': 'Training', 'Building__3': 'North', 'Status__3': 'Full Time', 'Employee_Name__3': 'Pratt, Erik', 'Month__3': 'Feb', 'Salary__3': 60830, 'Benefits__4': 'DMR', 'Hire_Date__4': datetime.datetime(1999, 2, 26, 0, 0), 'Years__4': 24, 'Department__4': 'Training', 'Building__4': 'Taft', 'Status__4': 'Half-Time', 'Employee_Name__4': 'Oconnor, Kent', 'Month__4': 'Feb', 'Salary__4': 15240, 'Benefits__5': 'DMR', 'Hire_Date__5': datetime.datetime(1999, 4, 10, 0, 0), 'Years__5': 24, 'Department__5': 'Training', 'Building__5': 'North' ... 4346 parameters truncated ... 'Building__488': 'Watson', 'Status__488': 'Full Time', 'Employee_Name__488': 'Webster, David', 'Month__488': 'Dec', 'Salary__488': 70730, 'Benefits__489': 'R', 'Hire_Date__489': datetime.datetime(2003, 3, 4, 0, 0), 'Years__489': 20, 'Department__489': 'Research Center', 'Building__489': 'Watson', 'Status__489': 'Full Time', 'Employee_Name__489': 'Bailey, Victor', 'Month__489': 'Mar', 'Salary__489': 42800, 'Benefits__490': 'DMR', 'Hire_Date__490': datetime.datetime(2001, 4, 10, 0, 0), 'Years__490': 22, 'Department__490': 'Research Center', 'Building__490': 'Main', 'Status__490': 'Full Time', 'Employee_Name__490': 'Montoya, Lisa', 'Month__490': 'Apr', 'Salary__490': 63670, 'Benefits__491': 'D', 'Hire_Date__491': datetime.datetime(2001, 7, 1, 0, 0), 'Years__491': 22, 'Department__491': 'Research Center', 'Building__491': 'West', 'Status__491': 'Full Time', 'Employee_Name__491': 'Leblanc, Jenny', 'Month__491': 'Jul', 'Salary__491': 40680, 'Benefits__492': 'DMR', 'Hire_Date__492': datetime.datetime(2000, 2, 1, 0, 0), 'Years__492': 23, 'Department__492': 'Research/Development', 'Building__492': 'Watson', 'Status__492': 'Half-Time', 'Employee_Name__492': 'Green, Kim', 'Month__492': 'Feb', 'Salary__492': 31250, 'Benefits__493': 'DMR', 'Hire_Date__493': datetime.datetime(2010, 7, 25, 0, 0), 'Years__493': 13, 'Department__493': 'Research/Development', 'Building__493': 'Taft', 'Status__493': 'Full Time', 'Employee_Name__493': 'Riley, David', 'Month__493': 'Jul', 'Salary__493': 46680}
2024-07-28 20:01:26,060 INFO sqlalchemy.engine.Engine COMMIT

494

In [27]:
employees.shape[0]

494

In [3]:
path_data = "/Users/ranierymendes/Documents/summer_2024/goal/etl/data/h+_sport_products.xlsx"
df = pd.read_excel(path_data, sheet_name="Sheet1")

In [5]:
print(df["Price"])
df["Price"]  = df["Price"] * 0.92
print(df["Price"])

0      90.55
1     120.25
2      19.99
3      19.99
4      19.99
       ...
70     24.10
71     14.60
72      9.49
73      6.99
74      8.99
Name: Price, Length: 75, dtype: float64
0      83.3060
1     110.6300
2      18.3908
3      18.3908
4      18.3908
        ...
70     22.1720
71     13.4320
72      8.7308
73      6.4308
74      8.2708
Name: Price, Length: 75, dtype: float64